html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='../style.css' type='text/css' crossorigin="anonymous")
  body
    main(role="main")
      include menu.pug    
      div(class="container")
        h1(class="spacer")
        div(class="  " style=" padding:10px;" )
          div(class="d-flex justify-content-center " style=" padding:10px; ")
            h4(class=" p-2" style=" padding:0px;")= persons.Role
            div(class="p-2" style="padding:0px;vertical-align:center; align-self:center;")= persons.Moto
          div(class="p-5")
            img(class="" style="padding:10px;" src=persons.Photo[0].thumbnails.large.url) 
          if persons["Soumission"]  
            each soumission in persons["Soumission"]
              if soumission.Titre
                h2(class="p-5")= soumission.Titre            
          h4(class="p-5")= "Badges de Comptences"
              div(class="row p-5")
                div(class="col-sm")
                  img(class ="" src="../../images/0_design.jpg"  style="width: 30%; object-fit: none;")
                div(class="col-sm")
                    img(class="" src="../../images/0_ecol.jpg"  style="width: 30%; object-fit: none;")
                div(class="col-sm")
                  img(class=""  src="../../images/0_explormat.jpg"  style="width: 30%; object-fit: none;")
                div(class="col-sm"   )
                  img(class="" src="../../images/0_fab.jpg"  style="width: 30%; object-fit: none;")
                div(class="col-sm "  )
                  img(class="" src="../../images/0_info.jpg" style="width: 30%; object-fit: none;")
          
          h4(class="p-5")="Interview"
          if persons["Interview"]
            each interview in persons["Interview"]
              div(class="")
                h6(class="row ")= "Comment ton parcours a été influencé par l'approche par la matière? "
                div(class="col py-3  ")=interview.Q1
                h6(class="row")= "Quel est ta vision du design circulaire?"
                div(class="col py-3  ")=interview.Q2
                h6(class="row")= "Quel est ton projet personnel?"
                div(class="col py-3")=interview.Q3
                h6(class="row")= "Qu’as-tu fais dans les projets collectifs exposés?"
                div(class="col py-3")=interview.Q4  
                h6(class="row")= "Une référence marquante à partager avec le public ?"
                div(class="col py-3")=interview.Q5
                h6(class="row")= "En une phrase, comment résumer le plus important?"
                div(class="col py-3")=interview.Q6                
                
          if persons["Soumission"]
            h4(class="p-5")="Projet Perso"
          if persons["Soumission"]  
            each soumission in persons["Soumission"]
              if soumission["Rendu (pdf, doc)"]
                  each rendu in soumission["Rendu (pdf, doc)"]
                    a(href=rendu.url)  
                      img(class="p-2" src=rendu.thumbnails.large.url)    
                      figcaption()=soumission.Soumission  


          if persons["Reserve des Arts (annexes)"]
            h4(class="p-5")="Reserve des Arts"
            iframe(src=persons["Reserve des Arts (annexes)"] width="640" height="360" frameborder="0" )
          if persons["Reserve des Arts"]
             h4(class="p-5")="Reserve des Arts"
             each rendu in persons["Reserve des Arts"]
               a(href=rendu.url)
                 if rendu.thumbnails
                   if rendu.thumbnails.large
                     img(src=rendu.thumbnails.large.url)
                   else
                     img(src=rendu.url)