html
  head
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='../style.css' type='text/css' crossorigin="anonymous")
  body
    main(role="main")
      div(class="container")
        h1(class="spacer")
        div(class="  " style=" padding:10px;" )
          div(class="d-inline-flex p-2 " style=" padding:10px;")
            div(class=" p-2" style=" padding:0px;")= persons.Role
            div(class="p-2" style="padding:0px;")= persons.Moto
          div(class="")
            img(class="" style="padding:10px;" src=persons.Photo[0].thumbnails.large.url) 
          h4()="Interets"
          if persons["Interet Specificiques"]
            each interet in persons["Interet Specificiques"]
              div(class="row")
                div(class="col")=interet.Intérêt
                div(class="col")=interet["Réalisations/Commentaire"]

          h4()="Interets"
          if persons["Interet Specificiques"]
            each interet in persons["Interet Specificiques"]
              div(class="row")
                div(class="col")=interet.Intérêt
                div(class="col")=interet["Réalisations/Commentaire"]
          